$black: #34333a;
$lightGrey: #bdbdbd;
$white: #ffffff;
$yellow: #f9a109;

.input {
  margin-top: 18px;
}

label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $black;
}

input {
  margin-top: 6px;
  border: 2px solid $lightGrey;
  border-radius: 12px;
  outline: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $lightGrey;
  padding: 21.62px 17.63px;
  box-sizing: border-box;
  width: 100%;
}

input::placeholder {
  color: $lightGrey;
}

.select-input {
  cursor: pointer;
  text-align: left;
  background: $white;
}

textarea {
  margin-top: 6px;
  height: 110px;
  border: 2px solid $lightGrey;
  border-radius: 12px;
  padding: 21.62px 17.63px;
  outline: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $lightGrey;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}

textarea::placeholder {
  color: $lightGrey;
}

.options-list {
  margin-top: 12px;
  width: 100%;
  background: $white;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  p {
    margin: 8.22px;
    padding: 11.32px 22px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    cursor: pointer;
  }

  p:hover {
    background: #f2f2f2;
    border-radius: 12px;
    color: #34333a;
  }
}

.buttons {
  margin-top: 50px;

  button {
    background: #f2f2f2;
    border-radius: 12px;
    padding: 20.62px 25.17px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    border: none;
    cursor: pointer;
  }

  .buttons__save-button {
    background: $yellow;
    color: $white;
  }
}
