.form {
  background: #f2f2f2;
  width: 389px;
  padding: 34.46px 40.06px;
}

.form-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 33px;
}
