$black: #34333a;
$orange: #f9a109;
$grey: #bdbdbd;
$white: #ffffff;
$font: "Quicksand";

.shopping {
  display: flex;

  .navbar {
    min-width: 93.92px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;

    .navbar-image {
      position: absolute;
      top: 34.86px;
      cursor: pointer;
    }

    .navbar-list {
      list-style: none;
      padding-left: 0px;

      .navbar-list__image {
        width: 20px;
      }

      .navbar-return__image {
        width: 19px;
        margin-top: 60px;
      }

      .navbar-statistics__image {
        width: 22px;
        margin-top: 60px;
      }
    }

    .navbar-button {
      padding: 9px;
      position: absolute;
      bottom: 34.86px;
      width: 42px;
      height: 42px;
      background: #f9a109;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      .navbar-button__image {
        width: 26px;
      }
    }
  }

  .shopping-content {
    width: 100%;
    padding: 37px 80px;

    .container {
      display: flex;
      align-items: center;

      .shopping-title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: $black;
        min-width: 16em;

        span {
          color: $orange;
        }
      }

      .shopping-input {
        margin-left: 80px;
        margin-right: 80px;
        position: relative;
        width: 100%;

        input {
          background: $white;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
          border-radius: 12px;
          height: 50.92px;
          border: 0px;
          width: 100%;
          padding-left: 60px;
          font-family: $font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: $grey;
          outline: none;
        }

        input::placeholder {
          font-family: $font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: $grey;
        }

        .search-image {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 20px;
          top: 17px;
        }
      }
    }
  }

  .shopping-form {
    background-color: #fff0de;
    min-width: 389px;
  }
}
